<% provide(:title, 'All projects') %>
<h1>All projects</h1>
<table class="table table-striped">
  <thead>
  	<tr>
  	  <th>Project</th>
  	  <th>Project Lead</th>
  	  <th>Created at</th>
      <th>Operations</th>
  	</tr>
  </thead>
  <tbody>
  	<% @projects.each do |project| %>
  	  <tr>
  		<td><%= link_to project.name, project %></td>
  		<td><%= link_to projectlead_for(project), :controller=>"users", :action=>"show", :id => project.project_lead %></td>
  		<td><%= project.created_at %></td>
  		<td>
  		  <%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-mini', :remote => true, :data => { :toggle => 'modal', :target => '#edit_project_modal' } %>
          <%= link_to 'Destroy', project_path(project), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
  	  </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add Project', new_project_path, :class => 'btn btn-primary', :remote => true, :data => { :toggle => 'modal', :target => '#new_project_modal' } %>

<%= link_to 'New Project', '#new-project-modal', 'data-toggle' => "modal" %>

<div id="new_project_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> </div>
<div id="edit_project_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> </div>


<div id='new-project-modal' class='modal hide fade'>
  <div class = "modal-header">
    <div id="error_explanation" style="display:none;">
    </div>
  </div>
<div class = "modal-body">
  <%= form_for(@project, remote: true, html: {"data-type" => :json}) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label 'Project Lead' %>
    <%= collection_select(:project, :project_lead, User.all, :id, :name, :prompt => true) %>
</div>
<div class = "modal-footer">
  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
</div>
<% end %>
</div>
<script type="text/javascript">
$('#new-project-modal').on('show', function (e) {
    $('#error_explanation').hide()
})
</script>



